$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Page Specific Styles
@import "variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: black;
  opacity: 0.70;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  .container {
    clear: both;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
 /* padding-top: 19px;*/
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    .container {
      margin-right: 0;

    }
  }
}


/*my changes-non bootstrap*/

.main-text {
  color: grey;
  margin-top: 20px;
  .main-intro {
    font-size: 40px;
  }
}

.definition p {
 font-style: italic;
  .code-picture {
    img {
      box-shadow: 8px 8px 3px #888888;
    }
  }
}

/* *********** Code to position Footer do not change */


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

$break-large: 918px;
.page-content {
  margin: 100px auto;
  max-width: 640px;
  width: 100%;
  @media screen and (max-width: $break-large) {
   margin-top: 100px;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* EnD of footer code ********* */
.nav-container {
  width: 200px;
  h4 {
  }
  .lead {
    font-size: 10px;
  }
}

$break-small: 480px;
.nav-container {
  color: lightgray;
  font-family: monospace;
  h4 {
    margin-left: 20px;
  }
  @media screen and (max-width: $break-small) {
    background-color: dimgrey;
    color: black;
  }

  /*width: $nav-width;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom:0;
  padding: 10px;*/


  .nav-sidebar {
    background-color: red;
    width: 100%;
  }
  ul {
    list-style-type: none;
    margin-left: -25px;
    float: right;
      li {
      display: inline;
      margin: 20px;
        @media screen and (max-width: $break-small) {
          display: inline;
          margin: 15px;
          float: none;
        }
      }
    a {
      color: inherit;
    }
  }
}

.page-content {
//clear: both;
}

.footer {
  /*margin-left:$nav-width;
  height:125px;
  width:100%;
  opacity: 1.0 !important;*/
  background-color: white;
    }





.find-event-container{
  margin-top: -64px;
  margin-left: 10px;

  //styling the search box
  .input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }
  .event-header img {
    height: 250px;
    width: 100%;
  }
  .search-nav-container {
  border: 1px solid black;
  border-top: none;
  padding: 40px;
  background-color: darkgrey;
  width: 100%;
    margin: 0 0 10px 0px;
    h1 {
      width: 100px;
      margin: 0 auto;
    }
    .search-nav-container {
      margin-top: 20px;
    }
  }
  .event-list-view {
    .event-list-item {
      border: 1px solid black;
      background-color: white;
      margin-top: 20px;
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 5px 5px 2px #888888;
    }
    .event-description {

    }
    .toggleWrapper {
      .toggleButtonWrapper {
        text-align: center;
        margin-top: 15px;
      }
      .toggleShowButton, .toggleHideButton {
        display: inline-block;
      }
      .toggleHideButton {
        display: none;
      }

      .toggleContent {
        display: none;
      }
    }
  }
}

.topics-container {
  margin-top: -64px;
  margin-left: 10px;
  width: 100%;
  p {
    width: 450px !important;
  }
  .title {
    font-size: 75px;
    width:600px;
    margin: 0 auto;
    @media screen and (max-width: $break-small) {
      font-size: 50px;
    }
  }
  .topics {
    width: 100%;
  }
  .topics-keyword-search {
    .keyword-box {
      width: 40px;
    }
  }
  .topics-header img {
    height: 250px;
    width: 100%;
  }
  .post-container {
    div.article {
     color: yellow;
      border: 2px solid white;
      padding-bottom: 10px;
      .article-title {
        text-align: center;
      }
      .article-author{
        text-align: center;
      }
      .article-description {
        text-align: center;
        margin-top: 5px;
      }
      .article-img {
        height:100px;
        position:relative;
        left:50%;

        img {
          height: 100%;
          position:relative;
          left:-25%;
        }
      }
    }
  }
}

.contact-container {
  color: black;
  .contact-content {
    background-image: url(../images/backgroundimg.jpg);
    height: 460px;
    .contact-header {
      p {
        font-size: 15px;
        a {
          color: inherit;
        }
      }
    }
    .social-links-contact {
      width: 100%;
      p {
      font-size: 15px;
        font-family: monospace;
      }
      img {
        width: 50px;
        height: 50px;
      }
      .link {
        display: inline-block;
      }
    }
    .linkedin-icon {
    }
  }

}



.figure-container {
  height: 400px;
  figure {
    float: left;
    height: 8em;
    margin: 1.5em;
    width: 8em;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
    img {
      width: 8em;
    }
  }
  figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
  }
  img {
    background-color: #222;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
  }
  figure:hover img {
    box-shadow: none;
  }
  figcaption {
    background-color: #222;
    padding: 1.5em 1.5em 1.5em .25em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
    a {
      color: inherit;
      text-align: center;
    }
  }
  figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
  }
  h3 {
    font-weight: bold;
  }
}

.calendar-container{
  background: white;
}
