$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: black;
  opacity: 0.70;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  .container {
    clear: both;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    .container {
      margin-right: 0;

    }
  }
}


/*my changes-non bootstrap*/

.main-text {
  color: grey;
  margin-top: 100px;
  .main-intro {
    font-size: 40px;
  }
}
    .definition p {
     font-style: italic;
      .code-picture {
        img {
          box-shadow: 8px 8px 3px #888888;
        }
      }
    }


.container {
  float: right;
  margin-right: 40px;
}

.nav-container {
  color: blue;
  margin-left: 10px;
  margin-top: 40px;
ul {
  list-style-type: none;
  margin-left: -25px;
    li {
    display: block !important;
    margin: 20px;
    }
  a {
    color: inherit;
  }
}
}


.find-event-container{
  border: 1px solid black;
  padding: 40px;
  background-color: darkgrey;
  h1 {
    width: 100px;
    margin: 0 auto;
  }
  .search-nav-container {
    margin-top: 20px;
  .event-list-view {
    .event-list-item {
      border: 1px solid black;
      background-color: white;
      margin-top: 20px;
      padding: 5px;
      border-radius: 10px;
      text-align: center;
    }
  }
  }
}

.topics-container {
  color: blue;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:125px;
  width:100%;
  background-color: white;
  opacity: 1.0 !important;
  .social-links {
    float: right;

    li {
      margin: 3px !important;
      img {
        width: 30px;
        height: 30px;
        margin: 0;
      }
    }
  }
}

.figure-container {
  figure {
    float: left;
    height: 8em;
    margin: 1.5em;
    width: 8em;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
    img {
      width: 8em;
    }
  }
  figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
  }
  img {
    background-color: #222;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
  }
  figure:hover img {
    box-shadow: none;
  }
  figcaption {
    background-color: #222;
    padding: 1.5em 1.5em 1.5em .25em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
    a {
      color: inherit;
      text-align: center;
    }
  }
  figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
  }
  h3 {
    font-weight: bold;
  }
}
