$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//global variables
@import "variables";

//Page Specific Styles
@import "mainPage";
@import "about";
@import "addEvent";
@import "calendar";
@import "findEvent";
@import "topics";

//index styles
body {
  background-image: url(../images/computer-background.jpg);
}

ul.social-list {
  color: black;
  list-style-type: none;
  padding-top: 25px;
  height: 75px;
  li {
    display: inline;
    margin: 20px;
    @media screen and (max-width: $break-small) {
      display: inline;
      margin: 15px;
      margin-left: 5px;
      float: none;
    }
  }
  a {
    color: black;
  }

  .social-icon {
    margin: 0 5px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
//Nav Styles
.navbar-content {
  background-color: white;
  .side-nav {
    padding-top: 0;
  }

  ul {
    .title-nav {
      background-color: deepskyblue;
      font-size: 30px;
      margin-left: -40px;
      line-height: 75px;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      height: 75px !important;
    }

    .home-nav {
      margin-left: 50px;
    }
    .contact-nav {
      margin-right: 50px;
    }
  }
}

//Footer Styles
.footer {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: lightblue !important;

  @media screen and (max-width: $break-medium) {
    padding: 10px 0 0 0 !important;
  }

  .container {
    margin: 0 auto;

    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        max-width: 730px;
    }
  }

  .footer-content {
    width: 100%;
    .footer-content1 {
      border-right: 1px solid black;
      padding-top: 25px;
      height: 80px;
      @media screen and (max-width: $break-medium) {
        border-right: none;
        display:none;
      }
      a {
        color: inherit;
      }
    }
    .footer-content2 {
      border-right: 1px solid black;
      height: 80px;
      @media screen and (max-width: $break-medium) {
        border-right: none;
      }
      a {

        color: inherit;
      }
      h2 {
        margin: 0;

      }
    }
    .footer-content3 {
      height: 80px;
      ul {
        @media screen and (max-width: $break-medium) {
          padding: 10px 0;
        }
      }
      a {
        color: inherit;
      }
    }
    .footer-links {
      font-size: 10px;
    }
  }
}

/* *********** Code to position Footer do not change */
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.page-content {
  margin: -10px auto;
  max-width: 640px;
  width: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: #efefef;
  text-align: center;
}
/* END of footer code ********* */
