<div class="contact-container">
  <div class="contact-content">
     <div class="contact-header">
       <p>Questions about the site? <br>
         <a href="mailto:whitney.larios@gmail.com?Subject=Question">whitney.larios@gmail.com</a>
       </p>
     </div>

      <div class="social-links-contact">
        <div class="link meetup">
          <p>meet</p>
          <a href="https://www.meetup.com/members/12632201/" target="_blank"><img src="images/meetupicon.png" class="meetup-icon"></a>

        </div>

        <div class="link linkedin">
          <p>connect</p>
          <a href="https://www.linkedin.com/in/whitney-larios-5b762011a?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="images/linkedin.png" class="linkedin-icon"></a>
        </div>

        <div class="link twitter">
          <p>follow</p>
          <a href="https://twitter.com/lariosw_23" target="_blank"><img src="images/twitter.png" class="twitter-icon"></a>
        </div>

        <div class="link github">
          <p>code</p>
          <a href="https://github.com/lariosw" target="_blank"><img src="images/Octocat.png" class="github-icon"></a>
        </div>
      </div>
  </div>
</div>
