<div class="contact-container">
  <div class="row contact-content">
     <div class="contact-header col-xs-12 col-sm-5 col-md-5">
       <p>Questions about the site? <br>
         <a href="mailto:whitney.larios@gmail.com?Subject=Question">whitney.larios@gmail.com</a>
       </p>
     </div>
    <div class="sociallinks-container col-xs-12 col-sm-7 col-md-7">
      <div class="row social-links-contact">
        <div class="link meetup col-xs-3">
          <p>meet</p>
          <a href="https://www.meetup.com/members/12632201/" target="_blank"><img src="images/meetupicon.png" class="meetup-icon"></a>
        </div>

        <div class="link linkedin col-xs-3">
          <p>connect</p>
          <a href="https://www.linkedin.com/in/whitney-larios-5b762011a?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="images/linkedin.png" class="linkedin-icon"></a>
        </div>

        <div class="link twitter col-xs-3">
          <p>follow</p>
          <a href="https://twitter.com/lariosw_23" target="_blank"><img src="images/twitter.png" class="twitter-icon"></a>
        </div>

        <div class="link github col-xs-3">
          <p>code</p>
          <a href="https://github.com/lariosw" target="_blank"><img src="images/Octocat.png" class="github-icon"></a>
        </div>
      </div>
    </div>
  </div>
</div>
