<section class="calendar-section">
  <div class="calendar-wrapper">
    <h2 class="title text-center">{{ calendarTitle }}</h2>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarState.viewDate"
            decrement="calendarState.calendarView"
            ng-click="calendarState.cellIsOpen = false">
            Previous
          </button>
          <button
            class="btn btn-default"
            mwl-date-modifier
            date="calendarState.viewDate"
            set-to-today
            ng-click="calendarState.cellIsOpen = false">
            Today
          </button>
          <button
            class="btn btn-primary"
            mwl-date-modifier
            date="calendarState.viewDate"
            increment="calendarState.calendarView"
            ng-click="calendarState.cellIsOpen = false">
            Next
          </button>
        </div>
      </div>
      <br class="visible-xs visible-sm">

      <div class="col-md-6 text-center">
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="calendarState.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
          <label class="btn btn-primary" ng-model="calendarState.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
          <label class="btn btn-primary" ng-model="calendarState.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
          <label class="btn btn-primary" ng-model="calendarState.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
        </div>
      </div>
    </div>
    <mwl-calendar
      view="calendarState.calendarView"
      view-title="calendarTitle"
      view-date="calendarState.viewDate"
      on-event-click="eventClicked(calendarEvent)"
      events="calendarState.events">
    </mwl-calendar>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93489296-1', 'auto');
    ga('send', 'pageview');

  </script>
</section>

