<div class="find-event-container">

  <div class=" search-nav-container">
    <div class="row search keyword-search">
      <h2 class="events-title">Events</h2>
      <div class="keyword-input-box col-xs-12 col-sm-12 col-md-4">
      <span>Search for events by keyword :</span><br>
      <input type="text" tabindex="1" ng-model="searchKeyword" placeholder="Keyword.."><br>
      </div>

      <div class="date-search col-xs-12 col-sm-12 col-md-4">
        <span>Search for events by date:</span><br>
        <datepicker class="datepicker-box" date-format="MM-dd-yyyy"  datepicker-mobile="false">
          <input tabindex="2" ng-model="searchEventDate" placeholder="Date.." type="text" readonly/>
        </datepicker>
      </div>
      <div  class="search-submit-btn col-xs-12 col-sm-12 col-md-4">
        <input tabindex="3" type="button" ng-click="search()" value="Submit">
        <input ng-show="activeSearchKeyword || activeSearchEventDate" type="button" ng-click="clearSearch()" value="Clear">
      </div>
    </div>



    <div class="results-cnt" ng-if="activeSearchKeyword || activeSearchEventDate">
      <p class="lead lead-found">{{filteredEvents.length}} events found matching the search: {{activeSearchKeyword || activeSearchEventDate}}.</p>
    </div>
  </div>



  <div class="row event-list-view">
    <div class="event-list-item col-xs-12 col-sm-6 col-md-4" ng-repeat="event in filteredEvents">
      <h4>{{event.name}}</h4>
      <h5>{{event.group.name}}</h5>
      <div ng-init="myURL=event.event_url">
        <a ng-href="{{myURL}}">View Event</a>
      </div>
      <strong><div>{{event.venue.name}}</div></strong>
      <div>{{event.venue.address_1}}</div>
      <div>{{event.venue.city}}</div><br>
      <div>{{event.time | date:'MMM d, y h:mm a'}}</div>

      <div class="event-description">
        <div ng-app="myApp" ng controller="find-events">

          Description <input type="checkbox" ng-model="description">
          <div ng-show="description">
            <h5 ng-bind-html="event.description"></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93489296-1', 'auto');
    ga('send', 'pageview');

  </script>
</div>
