<div class="main-text">
  <div class="definition-wrapper">
    <p class="definition">noun</p>

  <p class="lead"> the place where programmers can go to get local events and keep up to date with articles
    about specific coding topics. HTML to AngularJS...we will help you find events or articles about the language or
    framework you love.
  </p>

  <div class="figure-container">

    <figure>
      <img src="images/articlepicture.jpeg" alt="topics">
      <figcaption>
        <a href="#!/topics"><h3>Articles</h3></a>
      </figcaption>
    </figure>

    <figure>
      <img src="images/magnifyingglass.jpg" alt="find-an-item">
      <figcaption>
        <a  href="#!/find-event"><h3>Events</h3></a>
      </figcaption>
    </figure>

    <figure>
      <img src="images/calendarpicture.jpg" alt="calendar">
      <figcaption>
        <a  href="#!/calendar"><h3>Calendar</h3></a>

      </figcaption>
    </figure>

    <figure>
      <img src="images/codeicon.jpg" alt="code">
      <figcaption>
        <a href="#!/about"><h3>Contact</h3></a>
      </figcaption>
    </figure>
  </div>
  </div>
</div>

<!--
  <div class="code-picture">
    <img alt="code" src="images/codeicon.jpg">
  </div>
  <div class="row quick-links">
    <div class="col-xs-6 calendar-picture">
      <a ng-href="#!/calendar">
      <h4>Calendar</h4>
      <img alt="calendar" src="images/calendarpicture.jpg"></a>
    </div>

    <div class="col-xs-6 topics-picture">
      <a ng-href="#!/topics">
      <h4>Topics</h4>
      <img alt="topics" src="images/articlepicture.jpeg"></a>
    </div>

    <div class="col-xs-6 add-event-picture">
      <a ng-href="#!/add-event">
      <h4>Add An Event</h4>
      <img alt="add-event" src="images/addphoto.png"></a>
    </div>

    <div class="col-xs-6 find-event-picture">
      <a ng-href="#!/find-event">
      <h4>Find an Event</h4>
      <img alt="event" src="images/magnifyingglass.jpg"></a>
    </div>
  </div> !-->

  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> !-->


