<div class="main-section" >
  <div class="definition-wrapper" role=”complementary”>
    <h2 class="introduction">Welcome...</h2>
    <p class="lead">to the place where programmers can go to get local events and keep up to date with articles
      about specific coding topics. HTML to AngularJS...we will help you find events or articles about the language or
      framework you love.
    </p>

    <div class="figure-container">
      <div class="inner-figure-container">
        <figure>
          <img src="images/articlepicture.jpeg" alt="topics">
          <figcaption>
            <a href="#!/topics"><h3>Articles</h3></a>
          </figcaption>
        </figure>

        <figure>
          <img src="images/magnifyingglass.jpg" alt="find-an-item">
          <figcaption>
            <a  href="#!/find-event"><h3>Events</h3></a>
          </figcaption>
        </figure>

        <figure>
          <img src="images/calendarpicture.jpg" alt="calendar">
          <figcaption>
            <a  href="#!/calendar"><h3>Calendar</h3></a>

          </figcaption>
        </figure>

        <figure>
          <img src="images/codeicon.jpg" alt="code">
          <figcaption>
            <a href="#!/about"><h3>Contact</h3></a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

