<div class="main-text">


</div>

<!--
  <div class="code-picture">
    <img alt="code" src="images/codeicon.jpg">
  </div>
  <div class="row quick-links">
    <div class="col-xs-6 calendar-picture">
      <a ng-href="#!/calendar">
      <h4>Calendar</h4>
      <img alt="calendar" src="images/calendarpicture.jpg"></a>
    </div>

    <div class="col-xs-6 topics-picture">
      <a ng-href="#!/topics">
      <h4>Topics</h4>
      <img alt="topics" src="images/articlepicture.jpeg"></a>
    </div>

    <div class="col-xs-6 add-event-picture">
      <a ng-href="#!/add-event">
      <h4>Add An Event</h4>
      <img alt="add-event" src="images/addphoto.png"></a>
    </div>

    <div class="col-xs-6 find-event-picture">
      <a ng-href="#!/find-event">
      <h4>Find an Event</h4>
      <img alt="event" src="images/magnifyingglass.jpg"></a>
    </div>
  </div> !-->

  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> !-->


