<div class="topics-container">
  <div class="topics-header">
    <div class="title">Tech News</div>
    <img src="images/topics_background.jpg" class="topics-header-pict">
    </div>
    <div class="topics-keyword-search">
      <div class="search keyword-box">
        <p>Search by keyword for tech news your interested in on Tech Crunch:</p>
        <div class="search keyword-search">
            <input type="text" tabindex="1" name="search" ng-model="articlesKeyword" placeholder="Keyword Search..">
            <input type="button" tabindex="2" ng-click="search()" value="Submit">
            <input type="button" ng-if="currentArticlesKeyword" ng-click="clear()" value="Clear">
            <div class="results-cnt-topics" ng-if="currentArticlesKeyword">
              <p class="lead lead-found">{{filteredArticles.length}} articles found matching the search: {{currentArticlesKeyword}}.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="row post-container">

  <div class="article col-xs-12 col-sm-6" ng-repeat="article in filteredArticles">
    <h4 class="article-title">{{article.title}} <br></h4>
    <div class="article-author"> By {{article.author}} <br> </div>
    <div class="article-img"><img ng-src="{{article.urlToImage}}" alt="articleimage"/></div>
    <div class="article-description">{{article.description}}
      <div ng-init="topicUrl=article.url">
      <a ng-href="{{topicUrl}}" target="_blank">Read More</a></div>
    </div>


  </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93489296-1', 'auto');
    ga('send', 'pageview');

  </script>
</div>
