<div class="topics-container">
  <div class="topics-header">
    <img src="images/topics_background.jpg" class="topics-header-pict">
    </div>
    <div class="topics-keyword-search">
      <div class="keyword-box">
      <a href=""><img src="images/findericon.png"><input type="text" placeholder="Type in keyword"/></a>
        </div>
      <h2>TOPICS</h2>
    </div>

    <div class="row post-container">
      <div class="post1 col-xs-12 col-sm-6">
jkjkjkjk
      </div>
      <div class="post2  col-xs-12 col-sm-6">
klkl;kkl;k;lk;
      </div>
      <div class="post3  col-xs-12 col-sm-6">
kl;kl;kl;
      </div>
      <div class="post4 col-xs-12 col-sm-6">
kl;klkplo
      </div>
      <div class="post5  col-xs-12 col-sm-6">
mll;k;lk
      </div>
      <div class="post6  col-xs-12 col-sm-6">
mljlkjkl
      </div>
    </div>

  </div>
  <div class="blog-container">

  </div>
</div>
