<div class="topics-container">
  <div class="topics-header">
  <h2>{tech}.[info]</h2>
  <p></p>
    <div class="topics-keyword-search">
      <a href=""><img src="images/findericon.png"><input type="text" placeholder="Type in keyword"/></a>
    </div>

    <div class="post-container">
      <div class="post1">

      </div>
      <div class="post2">

      </div>
      <div class="post3">

      </div>
      <div class="post4">

      </div>
      <div class="post5">

      </div>
      <div class="post6">

      </div>
    </div>

  </div>
  <div class="blog-container">

  </div>
</div>
